<div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="movie in movies">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h3>{{movie.title}}</h3>
                <div class="info">
                    <span>Year: {{movie.year}}</span>
                    <span class="pull-right">Duration: {{movie.duration/60}} min</span>
                </div>
                <div class="info">
                    <strong>Director<span ng-if="movie.directors.list.length > 1">s</span>: </strong>
                    <span ng-repeat="director in movie.directors.list">{{director.name}}
                        <span ng-if="!$last">,</span>
                    </span>
                </div>
                <div class="info actors">
                    <strong>Stars: </strong>
                    <span ng-repeat="actor in movie.actors.list">{{actor.name}}
                        <span ng-if="!$last">,</span>
                    </span>
                </div>
                <p><a href="#" class="btn btn-primary" role="button">Add to watchlist</a> <a href="#" class="btn btn-default" role="button">Watch</a></p>
            </div>
            <div class="ratings">
                <!--<p class="pull-right">15 reviews</p>-->
                <p>&nbsp;
                    <span ng-if="movie.rating > 0">
                                Rating: <span ng-repeat="n in range(5)">
                                        <span ng-if="n <= movie.rating" class="glyphicon glyphicon-star  text-warning"></span>
                                        <span ng-if="n > movie.rating" class="glyphicon glyphicon-star-empty  text-warning"></span>
                                    </span>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
