extends layout

block content
    div(ng-view)
block footer
    script(src='static/jquery/dist/jquery.js')
    script(src='static/bootstrap/dist/js/bootstrap.js')
    script(src='static/angular/angular.js')
    script(src='static/angular-route/angular-route.js')
    script(src='app/app.js')
    script(src='app/routes/router.js')
    script(src='app/services/movieFactory.js')
    script(src='app/controllers/movieController.js')


