doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/static/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body(ng-app="nowTv")
    block content
    block footer